[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=wallpaper-once
Comment=Encrypt-OS initial wallpaper installer
Exec=sh /usr/share/Encrypt-OS/scripts/wallpaper-once
Icon=Encrypt-OS-icon
# StartupNotify=false
# Terminal=False
Hidden=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel

