/usr/share/encryptos/usr/share/encryptos/usr/share/encryptos[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Welcome
Comment=Encrypt-OS Welcome launcher
Comment[fi]=Encrypt-OS:n Welcome-ohjelman käynnistin
Comment[sk]=Spúšťač privítania v systéme Encrypt-OS
# for autostart:
Exec=sh /usr/share/Encrypt-OS/scripts/welcome --startdelay=3
# for desktop launcher:
#Exec=sh /usr/share/Encrypt-OS/scripts/welcome --once
Icon=Encrypt-OS-icon
# StartupNotify=false
# Terminal=False
Hidden=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
Categories=System
